<!--Including the header from partials-->
<%-include('partials/_header.ejs');-%>
<h5 class="negritas text-center fondo-titulo white-text border">Consejos de prevención contra la enfermedad</h5>
<hr class="hr-border">
<section class="center-on-small-only consejos">
    <div>
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header grey lighten-3 border">
                    <i class="material-icons">announcement</i>
                    <h6>Lavado correcto de manos</h6>
                </div>
                <div class="collapsible-body indigo lighten-5 center-align border text-grande">
                    <h5 class="negritas center-align">Lavado correcto de manos</h5>
                    <img class="responsive-img imagen border-green" src="./Recursos/LavadoManos.jpeg">
                    <p class="text-justify">Para eliminar cualquier rastro del virus de las manos, no basta con frotar y aclarar rápidamente. Este es el proceso para lavarse las manos de manera eficaz, paso a paso.</p>
                    <hr>
                    <p>
                        <span class="negritas green-text">Paso 1:</span> Mojarse las manos con agua corriente. <br>
                        <span class="negritas green-text">Paso 2:</span> Aplicar una cantidad suficiente de jabón para cubrir las manos mojadas. <br>
                        <span class="negritas green-text">Paso 3:</span> Frotar por toda la superficie de las manos (el dorso, el espacio entre los dedos y debajo de las uñas) durante, al menos, 20 segundos. <br>
                        <span class="negritas green-text">Paso 4:</span> Aclarar bien con agua corriente. <br>
                        <span class="negritas green-text">Paso 5:</span> Secarse las manos con un paño limpio o una toalla de un solo uso. <br>
                    </p>
                    <hr>
                    <p class="center-align">
                        Deberías dedicar entre 20 y 30 segundos a lavarte las manos. Una manera sencilla de calcularlo es cantar la canción del cumpleaños feliz entera dos veces.
                    </p>
                    <div class="botones">
                        <a href="https://www.unicef.org/es/coronavirus/todo-lo-que-debes-saber-sobre-el-lavado-de-manos-para-protegerte-del-coronavirus-covid19" class="btn-contenedor">Saber Mas...</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header blue darken-2 white-text border">
                    <i class="material-icons">announcement</i>
                    <h6>Uso correcto del cubrebocas</h6>
                </div>
                <div class="collapsible-body indigo lighten-5 border text-grande center-align">
                    <h5 class="negritas center-align">Uso correcto del cubrebocas</h5>
                    <img class="responsive-img imagen border-green" src="./Recursos/UsoCubrebocas.png">
                    <hr>
                    <p class="text-justify">
                        •	Al colocarlo, es muy importante que tus manos no toquen la parte interna. <br>
                        •	Ajústalo a tu cara, cuida de cubrir completamente tu boca y nariz. <br>
                        •	Mientras lo traigas puesto no lo toques. Si por cualquier razón lo haces, lávate las manos o límpialas con un gel a base de alcohol. <br>
                        •	No lo compartas con nadie, es de uso personal. <br>
                        •	Aun cuando utilices el cubrebocas, debes estornudar y toser en el ángulo interno del codo o con un pañuelo. <br>
                        •	Su utilización no debe extenderse más de un día. <br>
                    </p>
                    <hr>
                    <div class="botones">
                        <a href="http://covid19.saludsonora.gob.mx/?page_id=288" class="btn-contenedor">Saber Mas...</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header grey lighten-3 border">
                    <i class="material-icons">announcement</i>
                    <h6>Aplicación correcta del gel antibacterial</h6>
                </div>
                <div class="collapsible-body indigo lighten-5 border center-align">
                    <hr>
                    <img class="responsive-img imagen border-red" src="./Recursos/GelAntibacterial.jpg">
                    <hr>
                    <div class="botones">
                        <a href="https://www.farmaciasanpablo.com.mx/mi-consultorio/blog/gel-antibacterial" class="btn-contenedor">Saber Mas...</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header blue darken-2 white-text border">
                    <i class="material-icons">announcement</i>
                    <h6>¿Como puedo guardar una sana distancia?</h6>
                </div>
                <div class="collapsible-body indigo lighten-5 border text-grande center-align">
                    <img class="responsive-img imagen border-green" src="./Recursos/SanaDistanciax.jpg">
                    <p>
                        Para seguir correctamente la <span class="negritas">sana distancia</span> debemos mantener <span class="negritas green-text">1.5 metros</span> o entre dos a tres brazos de distancia entre persona y persona, evitar los lugares concurridos y tratar de siempre cumplir con los dos a tres brazos de distancia para así poder evitar el contagio o mayor propagación del virus.
                    </p>
                    <div class="botones">
                        <a href="https://www.gob.mx/salud/documentos/sana-distancia" class="btn-contenedor">Saber Mas...</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header grey lighten-3 border">
                    <i class="material-icons">announcement</i>
                    <h6>¿Que debo de hacer al llegar a casa?</h6>
                </div>
                <div class="collapsible-body indigo lighten-5 border text-grande center-align">
                    <h5 class="negritas">¿Que debo de hacer al llegar a casa?</h5> <br>
                    <hr>
                    <div class="row brown lighten-4 padding border negritas">
                        <div class="col m6 s12">                                     
                            <img class="responsive-img imagen border-red" src="./Recursos/NoTocar.png">
                            <p>Intenta no tocar nada</p>                    
                        </div>
                        <div class="col m6 s12">                                    
                            <img class="responsive-img imagen border-green" src="./Recursos/QuitarseZapatos.jpg">
                            <p>Quítate los zapatos, límpialos y ponte otros (pantuflas o sandalias)</p>                                   
                        </div>
                        <div class="col s12"><hr></div>
                        <div class="col m6 s12">                                    
                            <img class="responsive-img imagen border-orange" src="./Recursos/Desinfectar.jpg"> 
                            <p>Desinfecta las patitas de tu mascota si la sacaste a pasear</p>                                   
                        </div>
                        <div class="col m6 s12">                                    
                            <img class="responsive-img imagen border-purple" src="./Recursos/QuitarseRopa.jpg">
                            <p>Quítate la ropa exterior y métela en una bolsa para lavar</p>                     
                        </div>
                        <div class="col s12"><hr></div>
                        <div class="col m6 s12">                                    
                            <img class="responsive-img imagen border-violet" src="./Recursos/Objetos.jpg">
                            <p>Deja el bolso, cartera, etc. en una caja en la entrada</p>                     
                        </div>
                        <div class="col m6 s12">
                            <img class="responsive-img imagen border-yellow" src="./Recursos/Ducharse.jpg">
                            <p>Báñate y si no puedes, lava todas las zonas expuestas</p>
                        </div>
                        <div class="col s12"><hr></div>
                        <div class="col m6 s12">                                    
                            <img class="responsive-img imagen border-grey" src="./Recursos/LimpiarCelular.jpg">
                            <p>Limpia el celular, lentes, etc</p>                     
                        </div>
                        <div class="col m6 s12">                            
                            <img class="responsive-img imagen border-green" src="./Recursos/LimpiarObjetos.jpg">
                            <p>Desinfecta las superficies de las cosas que hayas traído contigo</p>
                        </div>                                
                    </div>
                    <hr>
                    <p class="negritas">Recuerda que no puedes hacer una desinfección total, se trata de disminuir el riesgo</p>
                    <div class="botones">
                        <a href="https://hgm.salud.gob.mx/descargas/pdf/noticias/Protocolos_Salud_COVID-19.pdf" class="btn-contenedor">Saber Mas...</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header blue darken-2 white-text border">
                    <i class="material-icons">announcement</i>
                    <h6>Conoce los sintomas</h6>
                </div>
                <div class="collapsible-body indigo lighten-5 border text-grande">
                    <h5 class="negritas center-align">¡Conoce los síntomas!</h5>
                    <img class="responsive-img imagen center-block border-red" src="./Recursos/Sintomas.jpg">
                    <p>
                        <span class="negritas">Los síntomas más comunes de la COVID-19 son:</span> <br> <br>
                        •	Fiebre <br>
                        •	tos seca <br>
                        •	Cansancio. <br>
                        <hr>
                        <span class="negritas">Otros síntomas menos frecuentes que pueden afectar a algunos pacientes son:</span> <br> <br>                               
                        •	Pérdida del gusto o el olfato. <br>
                        •	Dolores. <br>
                        •	Dolor de cabeza. <br>
                        •	Faringoamigdalitis. <br>
                        •	Congestión nasal. <br>
                        •	Ojos enrojecidos. <br>
                        •	Diarrea o erupción cutánea. <br>
                        <hr>
                        <span class="negritas">Los síntomas graves son los siguientes:</span> <br> <br>
                        •	Dificultad para respirar o sensación de falta de aire. <br>
                        •	Dolor o presión en el pecho. <br>
                        •	Incapacidad para hablar o moverse. <br>
                        <hr>
                        Si presentas síntomas graves, busca atención médica inmediata. Sin embargo, siempre debes llamar a tu doctor o centro de atención sanitaria antes de presentarte en el lugar en cuestión.
                    </p>
                    <div class="botones">
                        <a href="" class="btn-contenedor">Saber Mas...</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header grey lighten-3 border">
                    <i class="material-icons">announcement</i>
                    <h6>¿Los mosquitos pueden transmitir el virus SARS-CoV-2 a través de su picadura?</h6>
                </div>
                <div class="collapsible-body indigo lighten-5 border text-grande">
                    <h5 class="negritas center-align">¿Los mosquitos pueden transmitir el virus SARS-CoV-2 a través de su picadura?</h5>
                    <img class="responsive-img imagen center-block border-green" src="./Recursos/Mosquito.jpg">
                    <p>
                        <span class="red-text negritas">NO</span>. Es un virus respiratorio que se propaga principalmente por gotitas de saliva expulsadas por una persona infectada al toser o estornudar. No existe evidencia que el nuevo coronavirus, pueda transmitirse por mosquitos.
                    </p>
                    <div class="botones">
                        <a href="https://coronavirus.gob.mx/mitos-y-realidades/" class="btn-contenedor">Saber Mas...</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header blue darken-2 white-text border">
                    <i class="material-icons">announcement</i>
                    <h6>¿Se puede reutilizar un cubrebocas?</h6>
                </div>
                <div class="collapsible-body indigo lighten-5 border text-grande">
                    <h5 class="negritas center-align">¿Se puede reutilizar un cubrebocas?</h5>
                    <img class="responsive-img imagen center-block border-green" src="./Recursos/Cubrebocas.jpg">
                    <p class="center-align">
                        <span class="red-text negritas">NO</span>. Los cubrebocas, incluidos los N95, no deben reutilizarse, ya que se contaminan al ser utilizados por alguien con síntomas de infección respiratoria o en contacto con personas infectadas.
                    </p>
                    <div class="botones">
                        <a href="https://coronavirus.gob.mx/mitos-y-realidades/" class="btn-contenedor">Saber Mas...</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header grey lighten-3 border">
                    <i class="material-icons">announcement</i>
                    <h6>¿Se puede acabar con el virus rociando alcohol o cloro en el cuerpo?</h6>
                </div>
                <div class="collapsible-body indigo lighten-5 border text-grande">
                    <h5 class="negritas center-align">¿Se puede acabar con el virus rociando alcohol o cloro en el cuerpo?</h5>
                    <img class="responsive-img imagen center-block border-green" src="./Recursos/Cloro.jpg">
                    <p class="center-align">
                        <span class="red-text negritas">NO</span>. Rociar todo el cuerpo con alcohol o cloro, no sirve para matar los virus que ya han entrado en el organismo, estas sustancias pueden dañar los ojos, la boca, etc.
                    </p>
                    <div class="botones">
                        <a href="https://coronavirus.gob.mx/mitos-y-realidades/" class="btn-contenedor">Saber Mas...</a>
                    </div>
                </div>
            </li>
            
          </ul>
    </div>
</section>
<!-- including the Footer from partials-->
<%-include('partials/_footer.ejs');-%> 


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="./js/init.js"></script>
    <script type="text/javascript" src="./js/materialize.min.js"></script>
</body>
</html>