<%-include('partials/_header.ejs');-%>
        <section class="center-on-small-only consejos">
            <div>
                <h5 class="negritas text-center fondo-titulo white-text border">Vacunas en México</h5>
                <hr class="margin hr-border">
                <ul class="collapsible popout">
                    <li>
                        <div class="collapsible-header grey lighten-3 border">
                            <i class="material-icons">assignment</i>
                            <h6>Vacuna Pfizer</h6>
                        </div>
                        <div class="collapsible-body indigo lighten-5 border center-align">
                            <h4 class="text-center negritas">Vacuna Pfizer</h4>
                            <hr>
                            <img class="responsive-img imagen border-orange" src="./Recursos/pfizer.jpg">
                            <h5 class="negritas">Vacuna (farmacéutica)</h5>
                            <p class="text-mediana">BNT162b2 (Pfizer, Inc./BioNTech)</p>
                            <h5 class="negritas">Nombre común</h5>
                            <p class="text-mediana">Pfizer</p>
                            <h5 class="negritas">Plataforma de diseño</h5>
                            <p class="text-mediana">ARNm</p>
                            <h5 class="negritas">Dosis de esquema</h5>
                            <p class="text-mediana">2 dosis</p>
                            <h5 class="negritas">Tiempo entre dosis</h5>
                            <p class="text-mediana">3-6 semanas</p>
                            <h5 class="negritas">Efectos secundarios más comunes</h5>
                            <p class="text-mediana">
                                Dolor en el sitio de inyección, cansancio, dolor de cabeza, músculos y articulaciones, y fiebre.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header blue darken-2 white-text border">
                            <i class="material-icons">assignment</i>
                            <h6>Vacuna Astra</h6>
                        </div>
                        <div class="collapsible-body indigo lighten-5 border center-align">
                            <h4 class="text-center negritas">Vacuna Astra</h4>
                            <hr>
                            <img class="responsive-img imagen border-orange" src="./Recursos/Astra.jpg">
                            <h5 class="negritas">Vacuna (farmacéutica)</h5>
                            <p class="text-mediana">AZD1222 (AstraZeneca/Universidad de Oxford)</p>
                            <h5 class="negritas">Nombre común</h5>
                            <p class="text-mediana">Astra</p>
                            <h5 class="negritas">Plataforma de diseño</h5>
                            <p class="text-mediana">Vector viral no replicante</p>
                            <h5 class="negritas">Dosis de esquema</h5>
                            <p class="text-mediana">2 dosis</p>
                            <h5 class="negritas">Tiempo entre dosis</h5>
                            <p class="text-mediana">8-12 semanas</p>
                            <h5 class="negritas">Efectos secundarios más comunes</h5>
                            <p class="text-mediana">
                                Dolor en el sitio de inyección, cansancio, dolor de cabeza, músculos y articulaciones, y fiebre
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header grey lighten-3 border">
                            <i class="material-icons">assignment</i>
                            <h6>Vacuna SputnikV</h6>
                        </div>
                        <div class="collapsible-body indigo lighten-5 border center-align">
                            <h4 class="text-center negritas">Vacuna SputnikV</h4>
                            <hr>
                            <img class="responsive-img imagen border-orange" src="./Recursos/SputnikV.jpg">
                            <h5 class="negritas">Vacuna (farmacéutica)</h5>
                            <p class="text-mediana">Gam-COVID-Vac (Instituto Gamaleya)</p>
                            <h5 class="negritas">Nombre común</h5>
                            <p class="text-mediana">SputnikV</p>
                            <h5 class="negritas">Plataforma de diseño</h5>
                            <p class="text-mediana">Vector viral no replicante</p>
                            <h5 class="negritas">Dosis de esquema</h5>
                            <p class="text-mediana">2 dosis</p>
                            <h5 class="negritas">Tiempo entre dosis</h5>
                            <p class="text-mediana">3-4 semanas</p>
                            <h5 class="negritas">Efectos secundarios más comunes</h5>
                            <p class="text-mediana">
                                Dolor e hinchazón en el sitio de inyección, cansancio, dolor de cabeza, músculos y articulaciones, fiebre, malestar general y escalofríos
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header blue darken-2 white-text border">
                            <i class="material-icons">assignment</i>
                            <h6>Vacuna Cansino</h6>
                        </div>
                        <div class="collapsible-body indigo lighten-5 border center-align">
                            <h4 class="text-center negritas">Vacuna Cansino</h4>
                            <hr>
                            <img class="responsive-img imagen border-orange" src="./Recursos/Cansino.jpg">                            
                            <h5 class="negritas">Vacuna (farmacéutica)</h5>
                            <p class="text-mediana">Ad5-nCoV (CanSino Biologics Inc)</p>
                            <h5 class="negritas">Nombre común</h5>
                            <p class="text-mediana">Cansino</p>
                            <h5 class="negritas">Plataforma de diseño</h5>
                            <p class="text-mediana">Vector viral no replicante</p>
                            <h5 class="negritas">Dosis de esquema</h5>
                            <p class="text-mediana">1 dosis</p>
                            <h5 class="negritas">Tiempo entre dosis</h5>
                            <p class="text-mediana">No aplica. El esquema se completa con una sola dosis</p>
                            <h5 class="negritas">Efectos secundarios más comunes</h5>
                            <p class="text-mediana">
                                Dolor, comezón, hinchazón y enrojecimiento en el sitio de inyección, cansancio, dolor de cabeza, músculos y articulaciones, fiebre, diarrea, náusea, vómito, bajo apetito, mareo, tos y dolor de garganta
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header grey lighten-3 border">
                            <i class="material-icons">assignment</i>
                            <h6>Vacuna Sinovac</h6>
                        </div>
                        <div class="collapsible-body indigo lighten-5 border center-align">
                            <h4 class="text-center negritas">Vacuna Sinovac</h4>
                            <hr>
                            <img class="responsive-img imagen border-orange" src="./Recursos/Sinovac.jpg"> 
                            <h5 class="negritas">CoronaVac (Sinovac Research and Development Co)</h5>
                            <p class="text-mediana">Ad5-nCoV (CanSino Biologics Inc)</p>
                            <h5 class="negritas">Nombre común</h5>
                            <p class="text-mediana">Sinovac</p>
                            <h5 class="negritas">Plataforma de diseño</h5>
                            <p class="text-mediana">Virus inactivo</p>
                            <h5 class="negritas">Dosis de esquema</h5>
                            <p class="text-mediana">2 dosis</p>
                            <h5 class="negritas">Tiempo entre dosis</h5>
                            <p class="text-mediana">4-5 semanas</p>
                            <h5 class="negritas">Efectos secundarios más comunes</h5>
                            <p class="text-mediana">
                                Dolor, hinchazón y enrojecimiento en el sitio de inyección, cansancio, dolor de cabeza, músculos y articulaciones, fiebre, diarrea y escalofríos
                            </p>
                        </div>
                    </li>
                </ul>

                <h5 class="negritas text-center fondo-titulo white-text border">Dudas</h5>
                <hr class="margin hr-border">
                <ul class="collapsible popout">
                    <li>
                        <div class="collapsible-header grey lighten-3 border">
                            <i class="material-icons">assignment</i>
                            <h6>¿Debo usar cubrebocas después de recibir la vacuna?<h6>
                        </div>
                        <div class="collapsible-body indigo lighten-5 border">
                            <h5 class="negritas">¿Debo usar cubrebocas después de recibir la vacuna?</h5>
                            <p class="text-justify text-mediana">Sí. Recordemos que las vacunas tardan un tiempo en hacer efecto y son una medida adicional de control de la pandemia por lo que seguimos recomendando que las personas usen una mascarilla que les cubra la nariz y la boca cuando están en contacto con personas con las que no conviven, incluido cuando se encuentran en establecimientos de atención médica para la vacuna contra el COVID-19.</p>
                            <hr>
                            <img class="responsive-img imagen border-orange center-block" src="./Recursos/Cubrebocas.jpg"> 
                        </div>
                    </li>                    
                </ul>

                <h5 class="negritas text-center fondo-titulo white-text border">Actuales vacunas en Lagos de Moreno, Jalisco</h5>
                <hr class="margin hr-border">
                <ul class="collapsible popout">
                    <li>
                        <div class="collapsible-header grey lighten-3 border">
                            <i class="material-icons">assignment</i>
                            <h6>Vacuna Cansino<h6>
                        </div>
                        <div class="collapsible-body indigo lighten-5 border">
                            <h5 class="negritas">Vacuna Cansino actualmente aplicada en Lagos de Moreno, Jalisco</h5>
                            <p class="text-justify text-mediana">Los efectos secundarios que tiene la vacuna CanSino aparecen dentro de los 28 días posteriores a su aplicación y de acuerdo con los científicos las reacciones registradas en los ensayos clínicos fueron de leves a moderadas. <br> Se puede presentar dolor, inflamación o enrojecimiento en la zona de la aplicación, así como sangrado leve. Otras de las reacciones leves son; fiebre, fatiga, mialgias, náuseas, diarrea, tos, mareos, vómito y disminución en el apetito. Los efectos secundarios de la vacuna CanSino en grado moderado son; desórdenes funcionales gastrointestinales, inflamación de articulaciones, desmayo o hipoestesias, que es la disminución de la sensibilidad. <br> La farmacéutica CanSino Biologics Inc recomiendas que su aplicación no sea para aquellas personas con alergia grave a algún componente de la vacuna, así como quienes recientemente se hayan contagiado de Covid-19, tampoco los que hayan recibido plasma convaleciente en los 90 días previos a la vacunación. <br> Las mujeres embarazadas y menores de 18 años tampoco pueden recibir la vacuna, así como quienes viven con inmunosupresión.</p>
                            <hr>
                            <img class="responsive-img imagen border-orange center-block" src="./Recursos/Cansino.jpg"> 
                        </div>
                    </li>                    
                </ul>
            </div>
        </section>
        <!-- including the Footer from partials-->
        <%-include('partials/_footer.ejs');-%>
    
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="./js/init.js"></script>
    <script type="text/javascript" src="./js/materialize.min.js"></script>
</body>
</html>

